Sample-LogicApp-Template/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_contentHub_exporter_name": {
            "defaultValue": "contentHub-exporter",
            "type": "String"
        },
        "connections_box_externalid": {
            "defaultValue": "/subscriptions/subscription-id/resourceGroups/resource-group-name/providers/Microsoft.Web/connections/box",
            "type": "String"
        },
        "connections_office365_externalid": {
            "defaultValue": "/subscriptions/subscription-id/resourceGroups/resource-group-name/providers/Microsoft.Web/connections/office365",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_contentHub_exporter_name')]",
            "location": "westeurope",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "timeZone": "W. Europe Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Create_file:_step_1": {
                            "runAfter": {
                                "Step_1:_POST_export_(schema,_option_lists)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@body('Step_1:_POST_export_(schema,_option_lists)')",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['box']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                    "folderPath": "/temp/contentHub export/@{variables('folderName')}",
                                    "name": "entityDefinition-optionList.zip",
                                    "queryParametersSingleEncoded": true
                                }
                            }
                        },
                        "Create_file:_step_2": {
                            "runAfter": {
                                "Step_2:_POST_export_(Triggers,_Scripts,_State_flows_)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@body('Step_2:_POST_export_(Triggers,_Scripts,_State_flows_)')",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['box']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                    "folderPath": "/temp/contentHub export/@{variables('folderName')}",
                                    "name": "triggers-scripts-stateFlows.zip",
                                    "queryParametersSingleEncoded": true
                                }
                            }
                        },
                        "Create_file:_step_3": {
                            "runAfter": {
                                "Step_3:_POST_export_(...)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@body('Step_3:_POST_export_(...)')",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['box']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                    "folderPath": "/temp/contentHub export/@{variables('folderName')}",
                                    "name": "exportProfiles-mediaProcessing-Policies-renditionLinks-Settings.zip",
                                    "queryParametersSingleEncoded": true
                                }
                            }
                        },
                        "Create_file:_step_4": {
                            "runAfter": {
                                "Step_4:_POST_export_(portal_pages)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@body('Step_4:_POST_export_(portal_pages)')",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['box']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                    "folderPath": "/temp/contentHub export/@{variables('folderName')}",
                                    "name": "portalPages.zip",
                                    "queryParametersSingleEncoded": true
                                }
                            }
                        },
                        "Initialize_ExporterFunctionUrl": {
                            "runAfter": {
                                "Initialize_folder_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ExporterFunctionUrl",
                                        "type": "string",
                                        "value": "https://hostname-of-azurefunction.azurewebsites.net/api/GetChExport?code=azure-function-auth-code"
                                    }
                                ]
                            }
                        },
                        "Initialize_api_password": {
                            "runAfter": {
                                "Initialize_api_username": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "api_password",
                                        "type": "string",
                                        "value": "content-hub-user-password"
                                    }
                                ]
                            }
                        },
                        "Initialize_api_username": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "api_username",
                                        "type": "string",
                                        "value": "content-hub-user-name"
                                    }
                                ]
                            }
                        },
                        "Initialize_folder_name": {
                            "runAfter": {
                                "Initialize_oauth_token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "folderName",
                                        "type": "string",
                                        "value": "@{replace(utcNow(), ':', '.')}"
                                    }
                                ]
                            }
                        },
                        "Initialize_hostname": {
                            "runAfter": {
                                "Initialize_oauth_client_id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ch-hostname",
                                        "type": "string",
                                        "value": "https://content-hub-hostname"
                                    }
                                ]
                            }
                        },
                        "Initialize_oauth_client_id": {
                            "runAfter": {
                                "Initialize_api_password": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "oauth_client_id",
                                        "type": "string",
                                        "value": "oauth-client-id-here"
                                    }
                                ]
                            }
                        },
                        "Initialize_oauth_client_secret": {
                            "runAfter": {
                                "Initialize_hostname": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "oauth_client_secret",
                                        "type": "string",
                                        "value": "oauth-client-secret-here"
                                    }
                                ]
                            }
                        },
                        "Initialize_oauth_token": {
                            "runAfter": {
                                "Parse_oauth_response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "oauth_token",
                                        "type": "string",
                                        "value": "@body('Parse_oauth_response')?['access_token']"
                                    }
                                ]
                            }
                        },
                        "Initialize_oauth_token_request_parameters": {
                            "runAfter": {
                                "Initialize_oauth_client_secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "oauth_token_request_parameters",
                                        "type": "string",
                                        "value": "grant_type=password&username=@{variables('api_username')}&password=@{variables('api_password')}&client_id=@{variables('oauth_client_id')}&client_secret=@{variables('oauth_client_secret')}"
                                    }
                                ]
                            }
                        },
                        "Parse_oauth_response": {
                            "runAfter": {
                                "Request_oauth_token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Request_oauth_token')",
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "integer"
                                        },
                                        "refresh_token": {
                                            "type": "string"
                                        },
                                        "scope": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Request_oauth_token": {
                            "runAfter": {
                                "Initialize_oauth_token_request_parameters": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": "@variables('oauth_token_request_parameters')",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "method": "POST",
                                "uri": "@{variables('ch-hostname')}/oauth/token"
                            }
                        },
                        "Send_notification": {
                            "runAfter": {
                                "Create_file:_step_4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>The automatic export has been executed, following files are saved into the Box folder:<br>\n1. @{body('Create_file:_step_1')?['Path']}&nbsp;<br>\n2. @{body('Create_file:_step_2')?['Path']}<br>\n3. @{body('Create_file:_step_3')?['Path']}<br>\n4. @{body('Create_file:_step_4')?['Path']}</p>",
                                    "Subject": "[[[contentHub-Automation] Export is created",
                                    "To": "someemail@mailserver.com"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Step_1:_POST_export_(schema,_option_lists)": {
                            "runAfter": {
                                "Initialize_ExporterFunctionUrl": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "hostname": " @{variables('ch-hostname')}",
                                    "include_system_owned": false,
                                    "oAuthToken": "@{variables('oauth_token')}",
                                    "toExport": [
                                        "schema",
                                        "option_lists"
                                    ]
                                },
                                "method": "POST",
                                "retryPolicy": {
                                    "type": "none"
                                },
                                "uri": "@variables('ExporterFunctionUrl')"
                            }
                        },
                        "Step_2:_POST_export_(Triggers,_Scripts,_State_flows_)": {
                            "runAfter": {
                                "Create_file:_step_1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "hostname": " @{variables('ch-hostname')}",
                                    "include_system_owned": false,
                                    "oAuthToken": "@{variables('oauth_token')}",
                                    "toExport": [
                                        "scripts",
                                        "state_flows",
                                        "triggers"
                                    ]
                                },
                                "method": "POST",
                                "retryPolicy": {
                                    "type": "none"
                                },
                                "uri": "@variables('ExporterFunctionUrl')"
                            }
                        },
                        "Step_3:_POST_export_(...)": {
                            "runAfter": {
                                "Create_file:_step_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "hostname": " @{variables('ch-hostname')}",
                                    "include_system_owned": false,
                                    "oAuthToken": "@{variables('oauth_token')}",
                                    "toExport": [
                                        "export_profiles",
                                        "media_processing_sets",
                                        "policies",
                                        "rendition_links",
                                        "settings"
                                    ]
                                },
                                "method": "POST",
                                "retryPolicy": {
                                    "type": "none"
                                },
                                "uri": "@variables('ExporterFunctionUrl')"
                            }
                        },
                        "Step_4:_POST_export_(portal_pages)": {
                            "runAfter": {
                                "Create_file:_step_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "hostname": " @{variables('ch-hostname')}",
                                    "include_system_owned": false,
                                    "oAuthToken": "@{variables('oauth_token')}",
                                    "toExport": [
                                        "portal_pages"
                                    ]
                                },
                                "method": "POST",
                                "retryPolicy": {
                                    "type": "none"
                                },
                                "uri": "@variables('ExporterFunctionUrl')"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "box": {
                                "connectionId": "[parameters('connections_box_externalid')]",
                                "connectionName": "box",
                                "id": "/subscriptions/subscription-id/providers/Microsoft.Web/locations/westeurope/managedApis/box"
                            },
                            "office365": {
                                "connectionId": "[parameters('connections_office365_externalid')]",
                                "connectionName": "office365",
                                "id": "/subscriptions/subscription-id/providers/Microsoft.Web/locations/westeurope/managedApis/office365"
                            }
                        }
                    }
                }
            }
        }
    ]
}